beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
Django==2.1.7
django-cors-headers==2.5.2
idna==2.8
numpy==1.16.2
pandas==0.24.2
pipenv==2018.11.26
PyDocX==0.9.10
python-dateutil==2.8.0
pytz==2018.9
requests==2.21.0
six==1.12.0
soupsieve==1.8
urllib3==1.24.1
virtualenv==16.4.3
virtualenv-clone==0.5.1
xlrd==1.2.0
